.approach {
  background-color: #aaabb8;
  padding-top: 60px;
  padding-bottom: 60px;
}

.approach_list {
  display: flex;
  gap: 32px;
}

.approach_item {
  background-color: #15152b;
  border-radius: 20px;
  padding: 60px 40px;
  flex-basis: calc((100% - 24px) / 2);
}

.approach_title {
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #daa520;
  margin-bottom: 24px;
}

.approach_subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}

.approach_text,
.approach_info_item {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
}

.approach_info_item {
  list-style: disc;
  list-style-position: inside;
  color: #fff;
}
.approach_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background: #25274d;
  border-radius: 100px;
  margin: 0 auto 24px;
}

.approach_icons svg {
  width: 64%;
  height: 64%;
  fill: none;
  stroke: #daa520;
  stroke-width: 1.5;
}
