html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #aaabb8;
  color: #fff;
  margin: 0 auto;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

section {
  scroll-margin-top: 100px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
