.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #15152b;
}
.benefits_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.benefits_title {
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #daa520;
  margin-bottom: 24px;
}
.benefits_list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}

.benefits_item {
  background: #1b1b36;
  padding: 24px;
  border-radius: 16px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.benefits_item:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.benefits_subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #daa520;
  margin-bottom: 12px;
}

.benefits_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.benefits_img_box {
  flex: 1;
  max-width: 600px;
}
.benefits_img {
  background: #0c0c0c33;
  width: 100%;
  height: auto;
  border-radius: 20px;
}
