.footer {
  background-color: #15152b;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer_logo {
  font-weight: 500;
  font-size: 24px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  background: linear-gradient(
    to bottom,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #bf953f;
  margin-bottom: 32px;
}

.footer_address {
  color: #4ca9f6;
  display: block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
