.footer {
  background-color: #15152b;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer_logo {
  font-weight: 500;
  font-size: 24px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  background: linear-gradient(
    to bottom,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #bf953f;
  margin-bottom: 32px;
}

.footer_address {
  margin-top: 32px;
}

.footer_address_a {
  color: #4ca9f6;
  display: block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.footer_btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #fff;
  background-color: #daa520;
  cursor: pointer;
  border: none;
  border-radius: 200px;
  padding: 16px 60px;
  width: 350px;
  height: 60px;
  transition:
    background-color,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 32px;
}

.footer_btn:hover,
.footer_btn:focus {
  background-color: #aa771c;
}
