.reviews {
  background-color: #ddd
  padding-top: 60px;
  padding-bottom: 60px;
}
.reviews-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Тінь для ефекту об'єму */
  width: 100%;
  max-width: 400px;
}

.reviews_title_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.reviews_title_box {
  padding: 12px 30px;
  display: inline-block;
  border-radius: 0;
  cursor: pointer;
  background-color: #6b4a11;
}

.review-title {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.reviews_icon_wrapper {
  flex: 0 0 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.reviews_icon {
  fill: #6b4a11;
}

.reviews_commenting {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #15152b;
}

.form-group {
  margin-bottom: 15px;
}

.reviews_label {
  display: block;
  margin-bottom: 5px;
  color: #15152b;
}

.reviews_input[type="text"],
.reviews_input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

.reviews_btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.01em;
  max-width: 350px;
  width: 100%;
  height: 60px;
  padding: 16px 60px;
  border: none;
  border-radius: 8px;
  background-color: #6b4a11;
  color: #fff;
  cursor: pointer;
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
  margin-bottom: 32px;
}

.reviews_btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  background-color: #553b0d;
}
