.service {
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.8), rgba(46, 47, 66, 0.8)),
    url("../images/blue-color__on-web.jpg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
  padding: 40px 0;
}

.service_box {
  padding: 20px;
}

.service_title {
  font-weight: 600;
  font-size: 26px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #daa520;
  margin-bottom: 16px;
}

.service_text,
.service_item {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.service_item {
  list-style: none;
  position: relative;
  padding-left: 20px;
  color: #daa520;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.service_item:hover {
  transform: translateX(8px);
  color: #fcf6ba;
}

.service_item::before {
  content: "";
  width: 4px;
  height: 4px;
  background: #daa520;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .service {
    max-width: 768px;
    padding: 50px 0;
  }

  .service_box {
    padding: 40px;
  }

  .service_title {
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 24px;
  }

  .service_text,
  .service_item {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .service_item::before {
    width: 8px;
    height: 8px;
  }
}

@media screen and (min-width: 1380px) {
  .service {
    max-width: 1440px;
    padding: 60px 0;
  }
}
